.bg-hover:hover {
  background-color: var(--bg-hover) !important;
}

.ghost-element-hover:hover {
  background-color: var(--st-ghost_element-hover) !important;
}

.placeholder-color::placeholder {
  color: var(--placeholder-color);
}

.ghost-button {
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ghost-button:hover {
  background-color: var(--st-ghost_element-hover);
}

.ghost-button-hidden svg {
  opacity: 0;
}

.ghost-button-hidden:hover svg {
  opacity: 1;
}

#editor-code {
  position: relative;
}

#scrollbar,
#editor-code::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

#editor-code::before {
  width: 10px;
  background-color: var(--scrollbar-track-background);
  border-left: 1px solid var(--scrollbar-track-border);
}

#scrollbar {
  top: var(--scrollbar-top);
  width: 10px;
  height: 160px;
  background-color: var(--scrollbar-thumb-background);
  border-left: 1px solid var(--scrollbar-thumb-border);
  border-right: 1px solid var(--scrollbar-thumb-border);
}

#scrollbar:hover {
  background-color: var(--scrollbar-thumb-hover-background);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
}
