@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#app {
  display: flex;
  min-width: 320px;
  height: 100vh;
}

.color-preview {
  position: relative;
  isolation: isolate;
}

.color-preview::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 17px 17px;
  background-position:
    0 0,
    0 8.5px,
    8.5px -8.5px,
    -8.5px 0px;
}

.color-preview::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: currentColor;
}
